<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>RPA-Wacther</title>
</head>
<body>
    <template id="rpa-info">
        <div class="rpa-info">
            <div class="engine"></div>
            <div class="hostname"></div>
            <div class="env"></div>
            <div class="instance"></div>
            <div class="run-info">
                <div class="name"></div>
                <div class="extra"></div>
            </div>
        </div>
    </template>

    
    <main>
        <div id="rpa-view">

        </div>
    </main>

    
    <script type="module" src="script.js"></script>
</body>
</html>