<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="style.css">
    <title>RPA.Wacther</title>
</head>

<body>
    <template class="rpa-info">
        <div data-ref="" class="tr rpa-info">
            <div style="width: 7% !important;" class="td engine"></div>
            <div style="width: 7% !important;" class="td hostname"></div>
            <div style="width: 7% !important;"  class="td trigger"></div>
            <div class="td instance"></div>
            <div class="td name"></div>
            <div class="td parent"></div>
        </div>
    </template>

    <h1>RPA.Watcher</h1>
    <p class="preview"><i>This is still in preview. Not optimized for small screens</i></p>
    <main>
        <div class="table thead" id="rpa-header">
            <div class="tr">
                <div style="width: 7% !important;" class="td engine">Engine</div>
                <div style="width: 7% !important;" class="td hostname">Host</div>
                <div style="width: 7% !important;" class="td trigger">Trigger</div>
                <div class="td instance">Instance</div>
                <div class="td name">Flow</div>
                <div class="td parent">Parent</div>
            </div>
        </div>

        <div class="table tbody" id="rpa-view">
        </div>
    </main>

    <p class="no-info">Nothing is running</p>

    <script type="module" src="script.js"></script>
</body>

</html>