<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="style.css">
    <title>RPA.Watcher</title>
</head>

<body>
    <template class="rpa-info">
        <div data-ref="" class="tr rpa-info">
            <div style="width: 5% !important;" class="td engine"></div>
            <div style="width: 7% !important;" class="td hostname"></div>
            <div style="width: 7% !important;" class="td trigger"></div>
            <div class="td started"></div>
            <div class="td name"></div>
            <div class="td parent"></div>
        </div>
    </template>
    
    <template class="rpa-run">
        <div data-ref="" class="rpa-run process">
            <div class="head row">
                <div class="item hostname">Unknown</div>
                <div class="item name">{{Flow name}}</div>
            </div>
            <div class="body row">
                <div class="item engine"></div>
                <div class="item trigger"></div>
                <div class="item started"></div>
                <!-- <div class="item parent"></div> -->
            </div>
            <div class="notification"></div>
            <div data-ref="" class="action row">
                <div class="item actionerrblock"></div>
                <div class="item actionfunc"></div>
                <div class="item actionindex"></div>
                <div class="item actionname"></div>
            </div>
        </div>
    </template>

    <h1>RPA.Watcher</h1>
    <p class="preview"><i>This is still in preview. Not optimized for small screens</i></p>
    <div id="rpa-runs" class="run-container"></div>
    
    <!-- <div class="view-container">
        <div class="table thead rpa-header">
            <div class="tr">
                <div style="width: 5% !important;" class="td engine">Engine</div>
                <div style="width: 7% !important;" class="td hostname">Host</div>
                <div style="width: 7% !important;" class="td trigger">Trigger</div>
                <div class="td started">Started</div>
                <div class="td name">Flow</div>
                <div class="td parent">Parent</div>
            </div>
        </div>

        <div class="table tbody" id="rpa-view"></div>
    </div> -->
    <p class="no-info">Nothing is running</p>

    <div id="history-view">
        <h4>History:</h4>
        <div class="view-container">
            <div id="history">
                <div class="table thead rpa-header">
                    <div class="tr">
                        <div style="width: 5% !important;" class="td engine">Engine</div>
                        <div style="width: 7% !important;" class="td hostname">Host</div>
                        <div style="width: 7% !important;" class="td trigger">Trigger</div>
                        <div class="td started">Started</div>
                        <div class="td name">Flow</div>
                        <div class="td notification">Last message</div>
                    </div>
                </div>

                <div class="table tbody" id="rpa-history"></div>
            </div>
        </div>
    </div>


    <script type="module" src="script.js"></script>
</body>

</html>