@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

html {
    width: 100vw;
}

body {
    width: 100vw;
    margin: 0;
    background-color: aliceblue;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body h1 {
    text-align: center;
}

body > p {
    text-align: center;
}

#history-view h4 {
    font-style: italic;
    font-weight: normal;
    margin-left: 1em;
}

p.preview {
    color: rgba(0, 0, 0, 0.50);
}

.view-container {
    width: 95vw;
    max-width: 1800px;
    background-color: white;
    margin: 8px auto;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.table .tr {
    display: table-row;
    text-align: center;
}

.tbody .tr:nth-child(2n) .td {
    background-color: rgba(0, 0, 0, 0.05);
}

.table .tr .td {
    width: 15%;
    max-width: 15%;
    padding: 1rem;
    vertical-align: middle;
    display: table-cell;
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap;
}

.tbody .tr:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.thead {
    color: rgba(0, 0, 0, 0.50);
}

.table {
    display: table;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.tfoot {
    display: none;
    font-style: italic;
    color: rgba(0, 0, 0, 0.50);
}

.tbody .tr:last-of-type > .td.engine:first-of-type {
    border-bottom-left-radius: 1rem;
}

.tbody .tr:last-of-type > .td:last-of-type {
    border-bottom-right-radius: 1rem;
}
/* 
div.pad {
    background-color: #0066ff !important;
    color: white;
}

.tbody .tr:nth-child(2n) .pad {
    background-color: #0054d3 !important;
    color: white;
}

div.pr {
    background-color: #cd0b38 !important;
    color: white;
} */

.tbody .tr:nth-child(2n) .ptr {
    background-color: #b60932 !important;
    color: white;
}

.td .image, .image {
    height: 1.5em;
}

.table.wordbreak .td {
    word-break: break-word !important;
    white-space: break-spaces !important;
}

/* New 11-05-2024 */
.run-container {
    width: 95vw;
    max-width: 1800px;
    margin: 8px auto;
}

.rpa-run {
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 1em;
}

.head {
    font-size: 14pt;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 0.2rem;
}

.row {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}

.head.pad {
    background-color: #0066ff;
    color: white;
}

.head.pr {
    background-color: #cd0b38;
    color: white;
}

.head {
    background-color: #666666;
    color: white;
}

.head .item.hostname::after {
    content: ' - ';
}

.row .item {
    display: inline-block;
    vertical-align: middle;
}

.row .item {
    display: inline-block;
    vertical-align: middle;
}

.item.trigger::before {
    content: 'Trigger: ';
}

.item.trigger::after {
    content: ', ';
}

.item.started::before {
    content: 'Started: ';
}

.item.started::after {
    content: ', ';
}

.item.parent::before {
    content: 'Parent: ';
}

.item::before {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.action .item.actionindex::before {
    content: 'Index: ';
}

.action .item.actionindex::after {
    content: ', ';
}

.action .item.actionfunc::before {
    content: 'Function: ';
}

.action .item.actionfunc::after {
    content: ', ';
}

.action .item.actionname::before {
    content: 'Action: ';
}

.actionerrblock {
    height: 1.5em;
    width: 1.5em;
}

.actionerrblock.shield {
    background-image: url('Shield.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.actionerrblock.shield::after {
    content: ' ';
}