<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="fira_code.css">
    <link rel="stylesheet" href="style.css">
    <script src="alpine.min.js" defer></script>
    <title>RPA.Watcher</title>
</head>

<body data-theme="light">
    <main x-data="rpaData">
        <template x-if="hasError">
            <div class="error" x-text="lastError"></div>
        </template>
        <h1>RPA.Watcher</h1>

        <p x-show="running.length === 0">&lt;Nothing is running&gt;</p>
        <div class="view-container" id="running" x-show="running.length !== 0">
            <div class="run">
                <!-- <div class="row header">
                    <span class="short">Platform</span>
                    <span class="mid">Host</span>
                    <span class="mid">Started</span>
                    <span>Trigger</span>
                    <span>Name</span>
                    <span>Status</span>
                </div> -->
            </div>

            <template x-for="item in running">
                <div class="run">
                    <div class="row">
                        <div class="centered">
                            <span class="engine" x-html="engineLogo(item)"></span>
                            <b><span class="host" x-text="item.computer"></span></b> -
                            <b> <span class="name" x-text="flowName(item)"></span></b>
                        </div>
                        <div class="centered">
                            <span class="date" x-text="localDate(item.started)"></span>
                            <span class="triggered" x-text="parseTrigger(item.trigger)"></span>
                        </div>
                        <div x-show="exist(item.notification)" class="centered">
                            <span class="msg no-overflow" x-text="item.notification"></span>
                        </div>
                    </div>
                    <div class="action" x-show="exist(item.action)">
                        <span class="trigger trigger-fn italic" x-text="item.action.functionName"></span>,
                        <span class="trigger trigger-index italic" x-text="item.action.index"></span>,
                        <span class="trigger trigger-name italic" x-text="item.action.name"></span>
                    </div>
                </div>
            </template>
        </div>

        <p id="hist-title" x-show="history.length !== 0"><i>History:</i></p>
        <div class="view-container" id="history" x-show="history.length !== 0">
            <div class="row header">
                <span class="short">Engine</span>
                <span class="mid">Host</span>
                <span class="mid">Started</span>
                <span>Trigger</span>
                <span>Name</span>
                <span>Last status</span>
            </div>
            <template x-for="item in history">
                <div class="row run">
                    <span class="engine short" x-html="engineLogo(item)"></span>
                    <span class="host mid" x-text="item.computer"></span>
                    <span class="date mid" x-text="localDate(item.started)"></span>
                    <span class="trigger" x-text="parseTrigger(item.trigger)"></span>
                    <span class="name" x-text="flowName(item)"></span>
                    <span class="msg no-overflow" x-text="item.notification"></span>
                </div>
            </template>
        </div>
    </main>

    <script src="script.js"></script>
</body>

</html>